*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
}

a{
  text-decoration: none;
}

.App {
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,233,223,1) 100%);
  height: 100vh;
}
* {
  margin: 0px ;
  padding: 0px;
}
