.loginContainer, .registerContainer{
    width: 400px;
    position: relative;
    margin: 50px auto;
}
button {
    background-color: #ea2150;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 90px;
    font-size: 15px;
    margin-top: -9px;
    font-weight: 600;
    border: #ea2150;
    border-radius: 10px !important;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}