.dashboard{
    margin-top: -150px;
    margin-left: 80px;
}
.frame{
    width: 782px;
    margin: 0 auto;
    background-color: black;
    height: 689px;
    border-radius: 10px;
}
.attendance{
    width: 782px;
    border-radius: 10px;
}